#slider-section {
  width: 100%;
  height: 28em;
  display: flex;
  align-items: flex-end;
  position: relative;
}

#slider-container {
  height: 85%;
  width: 100%;
  /* border: 1px solid #999; */
  overflow-x: scroll;
  white-space: nowrap;
  /* overflow-y: hidden; */
  scroll-snap-type: x mandatory;
  /* background-color: red; */
}

.slider-nav-btn {
  position: absolute;
  border: none;
  /* border: 1px solid #999; */
  width: 4em;
  height: 4em;
  display: grid;
  place-items: center;
  z-index: 30;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff90;
}

.slider-nav-btn i {
  font-size: 2rem;
  padding: 5px;
  color: hotpink;
}

#left-btn {
  left: 50px;
  top: 50%;
}

#right-btn {
  right: 48px;
  top: 50%;
}

#slider-container::-webkit-scrollbar {
  background-color: transparent;
}

.s-books-container {
  display: inline-block;
  height: 17em;
  width: calc(99% / 3);
  margin-left: 5px;
  min-width: 480px;
  scroll-snap-align: center;
  position: relative;
  border-radius: 5px;
}

.s-books-container:first-child {
  background-color: #10865d;
}

.s-books-container:nth-child(2){
  background-color: #ff9100;
}
.s-books-container:nth-child(3) {
  background-color: #ff00d4;
}
.flex-cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.s-book-image {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%;
  /* border: 1px solid #999; */
  display: grid;
  place-items: center;
}

.s-book-image img {
  width: 80%;
  aspect-ratio: 1/1.33;
  margin-top: 25px;
  /* height: 250px; */
  transition: 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  /* transform: translate(0%, 70px); */
}

.s-book-image:hover img {
  scale: 1.02;
}

.s-book-info {
  width: 50%;
  /* max-width: 20em; */
  white-space: normal !important;
}

.s-book-info h3 {
  margin: 0;
  margin-top: 30px;
  margin-left: 0px;
  margin-bottom: 0px;
  color: #fff;
}

.s-book-info h5 {
  margin: 0;
  margin-bottom: 0px;
  color: #e3e3e3;
}

.s-book-info p {
  font-size: clamp(10px, 3vw, 15px);
  overflow: hidden;
  box-sizing: border-box;
  width: 90%;
  color: #fff;
  line-height: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  white-space: normal !important;
  margin-top: 10px;
}

.s-book-info button {
  background-color: #fff;
  border: none;
  width: 60%;
  height: 2.5em;
  font-weight: 600;
  margin: auto;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  font-size: 15px;
  cursor: pointer;
  transition: 200ms ease;
}

.s-book-info button:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #000000;
}
