nav {
  width: 100%;
  height: 3em;
  position: fixed;
  display: flex;
  border-bottom: 1px solid rgb(187, 187, 187);
  align-items: center;
}

.navbar-section {
  height: 90%;
}

.user-controls {
  position: absolute;
  right: 20px;
  width: 10%;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-controls i {
  color: var(--icons-color);
  cursor: pointer;
  position: relative;
}

#new-notifications-icon::after {
  content: "";
  position: absolute;
  background-color: rgb(230, 9, 9);
  height: 3px;
  width: 3px;
  border: 2px solid #fff;
  top: 5px;
  right: 4px;
  border-radius: 50%;
}

.profile-image {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.bookmarks-container {
  position: absolute;
  width: 20%;
  border-left: 4px solid rgb(236, 236, 236);
  right: 0;
  height: 100vh;
  background-color: #fff;
  transition: 600ms ease;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  min-width: 320px;
}

.bookmarks-active {
  transform: translate(0, 0);
}

.bookmarks-inactive {
  transform: translate(100%, 0);
}

#bookmarks-header {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  position: relative;
}

#bookmarks-header i {
  font-size: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 10px;
}

#bookmarks-title {
  color: #333;
  letter-spacing: 2px;
  margin: auto;
  justify-self: center;
}

#bookmarked-books {
  width: 98%;
  height: 44em;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ! scrollbar styling for bookmark section */

#bookmarked-books::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

#bookmarked-books::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#bookmarked-books:hover::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
}

#bookmarked-books::-webkit-scrollbar-thumb:hover {
  background-color: rgb(162, 162, 162);
}

.bm-book {
  width: 100%;
  height: 15em;
  position: relative;
  cursor: pointer;
  transition: 4000ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
}

.bm-book::after {
  position: absolute;
  left: 0;
  content: "";
  height: 100%;
  width: 6px;
  background-color: rgb(200, 199, 199);
  opacity: 0;
  transition: 400ms ease;
}

.bm-book:hover::after {
  opacity: 1;
}

.bm-book:hover {
  background-image: linear-gradient(
    to right,
    rgba(231, 229, 229, 0.5) 1%,
    rgba(227, 226, 226, 0.429) 20%,
    transparent 100%
  );
}

.bm-book-name {
  position: absolute;
  bottom: 0px;
  margin: 0;
  opacity: 0;
  transition: 400ms ease;
  font-size: 10px;
  letter-spacing: 1px;
}

.bm-book .book-image {
  width: 40%;
  height: 70%;
  background-color: bisque;
  transition: 400ms ease;
}

.bm-book .book-image img {
  width: 100%;
  height: 100%;
}

.bm-book:hover .book-image {
  scale: 0.9;
}

.bm-book:hover .bm-book-name {
  bottom: 15px;
  opacity: 1;
}

.bm-view-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #555;
  opacity: 0;
  transition: 400ms ease;
}

.bm-book:hover .bm-view-icon {
  right: 8px;
  opacity: 1;
}

/* !notification menu */

.notifications-container {
  position: absolute;
  width: 25%;
  border-left: 4px solid rgb(236, 236, 236);
  right: 0;
  height: 100vh;
  background-color: #fff;
  transition: 600ms ease;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  min-width: 320px;

}

.notifications-active {
  transform: translate(0, 0);
}

.notifications-inactive {
  transform: translate(100%, 0);
}

#notification-header {
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid rgb(217, 216, 216);
}

#notification-header i {
  font-size: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 10px;
}

#notification-title {
  color: #333;
  letter-spacing: 2px;
  margin: auto;
  justify-self: center;
}

#notifications-container {
  width: 97%;
  height: 41em;
  align-self: center;
  justify-self: center;
  overflow-y: scroll;
}

/* ! scrollbar styling for bookmark section */

#notifications-container::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

#notifications-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#notifications-container:hover::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
}

#notifications-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(125, 123, 123);
}

#notifications-container .notification {
  cursor: pointer;
  width: 100%;
  height: 4em;
  position: relative;
  border-bottom: 1px solid rgb(219, 218, 218);
  display: flex;
  align-items: center;
}

.mark-read {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
}

.mark-read h3 {
  margin: 0;
  margin-left: 13px;
  color: #666;
  font-size: 1rem;
}

.mark-read:hover {
  background-color: rgba(240, 240, 240);
}

#notifications-container .notification:hover {
  background-color: rgba(240, 240, 240);
}

.notif-indicator {
  width: 10%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.dot-indicator {
  width: 7px;
  height: 7px;
  background-color: black;
  border-radius: 50%;
}

.error-indicator {
  background-color: red;
}

.success-indicator {
  background-color: rgb(15, 182, 15);
}

.new-indicator {
  background-color: blue;
}

.notif-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.notif-content h5 {
  margin: 0;
}

.notif-content h6 {
  margin: 0;
  position: absolute;
  bottom: 7px;
  color: #999;
}

/* ! user profile and stuff ...sad :( */

#user-controls-menu {
  position: absolute;
  width: 20%;
  min-width: 300px;
  height: 12em;
  cursor: pointer;
  right: 10px;
  top: 9%;
  border: 1px solid #999;
  overflow: hidden;
  transition:300ms ease;
}

.user-menu-active {
  visibility: visible;
}

.user-menu-inactive {
  visibility: hidden;
}

.user-menu-layer {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: inherit;
  transition: transform 300ms ease;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px 0px;
}

.layer-active {
  transform: translate(0, 0);
}

.layer-previous-active {
  transform: translate(-100%, 0);
}

.layer-inactive {
  transform: translate(100%, 0);
}

.layer-heading {
  position: absolute;
  width: 100%;
  height: 3em;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}



.layer-heading h4 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  justify-self: flex-end;
  color: #555;
  width:65%;
}

#u-back-btn {
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 10;
  width: 30px;
}

.user-option {
  width: calc(100% - 20px);
  height: 3em;
  display: flex;
  align-items: center;
  color: #555;
  box-sizing: border-box;
  padding-left: 20px;
  margin: auto;
  border-radius: 5px;
}

.user-option .material-symbols-outlined {
  margin-right: 20px;
  font-size: 1.5rem;
}

.user-option h4 {
  margin: 0;
  color: #666;
  font-size: 1em;
}

.user-option .fas {
  position: absolute;
  right: 50px;
}

.user-option:hover {
  background-color: rgba(214, 214, 214, 0.855);
}



/* * settings menu */


#settings-container {
  width: 99%;
  height: auto;
  position: absolute;
  bottom: 0;
  height: 19em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.settings-option {
  height: 2em;
  width: 90%;
  position: relative;
  /* background-color: rgb(170, 41, 41); */
  border-radius: 7px;
  /* box-shadow: 0px 0px 0px 1px rgb(136, 136, 136, 0.5); */
}
.settings-option h4{
  font-size: 1rem;
}
/* dropdown yoh. */

.dropdown {
  width: 100%;
  height: 3em;
  box-sizing: border-box;
  padding-left: 20px;
}

.drop-summary {
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666;
  /* background-color: rgb(159, 105, 105); */
}

.drop-summary h3 {
  font-size: 1.1rem;
}

.chevron-cont {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: aqua;
  margin-right: 10px;
}

.chevron-cont i {
  position: absolute;
  margin: 0;
  right: 0;
  transition: 300ms ease;
}

#expand-more {
  opacity: 1;
}

#expand-less {
  opacity: 0;
}

.dropdown:hover #expand-more {
  opacity: 0;
}

.dropdown:hover #expand-less {
  opacity: 1;
}

.drop-summary h3 {
  margin: 0;
}

/* options yoh */

.options {
  position: absolute;
  width: 99%;
  background-color: #fff;
  left: 0px;
  height: auto;
  z-index: 3;
  top: 150%;
  overflow: hidden;
  /* height: 12em; */
  display: none;
  padding: 5px 5px;
}

.option-hover-indicator {
  position: absolute;
  top: 75px;
  width: 96%;
  height: 2.2em;
  opacity: 0;
  border-radius: 5px;
  background-color: rgb(138, 135, 135);
  transition: 200ms ease;
}

.options:hover .option-hover-indicator{
  opacity: .3;
}



.options h5{
  margin: 0;
  padding:13px 10px;
  color: #222;
}

/* .options h5:hover{
  background-color: rgb(228, 225, 225);
} */

.dropdown:hover .options {
  display: block;
  box-shadow: 0px 0px 0px 1px rgb(136, 136, 136, 0.5);
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 10px;
}

.toggle-cursor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 10px;
}

#custom-toggle-container {
  height: 18px;
  width: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 0px 0px 1px rgb(136, 136, 136, 1);
}

#custom-toggle-container input {
  height: 30px;
  width: 30px;
  opacity: 0;
  cursor: pointer;
}

#toggle-dot {
  height: 13px;
  width: 13px;
  background-color: #999;
  position: absolute;
  left: 2px;
  border-radius: 50%;
  pointer-events: none;
  transition: 200ms ease;
  /* border: 1px solid #555; */
}

#toggle-checkbox:checked ~ #toggle-dot {
  left: 15px;
  background-color: rgb(255, 98, 0);
}




/* * USER PROFILE */

#profile-box{
  width: 100%;
  height: 3em;
  background-color: aqua;
}